
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belly Button Ecosystem</title>

    <!--Plotly-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="/static/css/styles.css" >

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

</head>
<body>
    <div class="container" style="text-align:center; margin-top:50px">
        <div class="jumbotron" style="background: #d1d7d1;E7;">
            <h1>Belly Button Biodiversity Interactive Dashboard</h1>
            <p style="padding-top:10px;margin-bottom:0px">Based on this 
                <a href="http://robdunnlab.com/projects/belly-button-biodiversity/" style="font-weight:bold;">study</a>
                 conducted in January 2011 to invesigate the microbes inhabiting our navels and the factors that
                might influence the microscopic life inhabiting the great caverns of our bellies.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!--sample selection-->
            <div class="col-md-2">
                <h3><strong>Select sample:</strong></h3>
                <select id="selDataset" onchange="optionChanged(this.value)"></select>
                <div id="sampleList">
                </div>

                <div class="panel panel-default" style="margin-top:20px">
                    <div class="panel-heading" style="background:#D1D6E7;text-align:center">
                        <h3 class="panel-title">Sample MetaData</h3>
                    </div>
                    <div class="panel-body">
                        <!--Sample Metadata Table-->
                        <table class="table table-bordered">

                            <tbody>
                            </tbody>

                        </table>

                    </div>
                </div>

                </div>
            
            <!--Piechart spot-->
            <div class="col-md-6">
                    <h3><strong>Distribution of Microbes by Sample ID</strong></h3>
                    <div id="piePlot"> plot chart here</div>
    
                    <p style="font: size 12;">Lables are the Lowest taxonomic level of bacteria and archaea identified (‘phylotype’ or OTU, operational
                        taxonomic unit) in the samples. Taxonomies reflect the lowest taxonomic level to which samples could
                        be given a name. If samples were so different from existing samples as to not readily be classified they
                        are simply labeled "bacteria" reflecting that they were different from everything we know. Taxonomies
                        presented follow the taxonomic rank you learned about in Intro Biology: Kingdom (or Domain in the case
                        of Archaea); Phylum; Subphylum; Order; Family; Genus. See Hulcr et al. 2012 for specific methods. Values
                        indicate sequencing read numbers. </p>
                </div>
            
            <!--the plot guage-->
            <div class="col-md-4">
                    <h3><strong>Washing Frequency vs biodiversity</strong></h3>
                    <div id="guage"> plot guage</div>
                </div>
            </div>
        
            <div class="row">
                    <!--Bubble plot-->
                    <div class="col-md-12">
                            <h3><strong>Relationship beween OTU ID and Sample Values</strong></h3>
                        <div id="bubble"> bubbleplot</div>
                        
                    </div>
                </div>
        
            </div>
        
            


</body>
<footer>
    <div class="container">
        <div class='row'>
            <div class='col-md-2'>
                <p class='text-align-left'>by Corey Clippinger</p>
            </div>
            <div class="col-md-10">
                about
            </div>
            
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
        crossorigin="anonymous"></script>

    <!--Internal JS script-->
    <script src='/static/js/app.js' charset="utf-8"></script>


</footer>
</html>